$srcIconMenuBar: '../../assets/icon/slibarmenu.png';
$srcCommonIcon : '../../assets/icon/common-icon.png';

.ms-icon-menubar{
    background-image: url($srcIconMenuBar);
    background-repeat: no-repeat;
}
.ms-icon-common{
    background-image: url($srcCommonIcon);
    background-repeat: no-repeat;
}
.padding-left-10px{
    margin-left: 10px;
}
