.ms-dialog-model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6 !important;
  background-color: #666666;
  z-index: 99999 !important;
}
.ms-dialog-main {
  width: 598px;
  height: 438px;
  position: absolute;
  top: calc(50% - 219px);
  left: calc(50% - 350px);
  z-index: 9999999 !important;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  /**CSS header dialog */
  .ms-dialog-header {
    height: 51px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    color: #212121;
    font-size: 16px;
    font-family: "roboto";
    font-weight: 700;
    align-items: center;
    padding: 10px 14px;
    .ms-dialog-title {
    }
    .ms-icon-close {
      background: url("../../assets/icon/common-icon.png") no-repeat -1129px -130px;
      width: 12px;
      height: 11px;
    }
    .ms-icon-close:hover {
      cursor: pointer;
    }
  }

  /**CSS body dialog */
  .ms-dialog-body {
    width: 100%;
    height: 468px;
    box-sizing: border-box;
    padding: 16px 16px 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    /** CSS cho dòng chỉ có 1 input*/
    .ms-row {
      width: 100%;
      height: 32px;
      background-color: chocolate;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .ms-row-large {
      width: 100%;
      height: 80px;
    }
    //     CSS cho dòng có 2 input
    .ms-row-2-col {
      display: flex;
      flex-direction: row;
      .ms-col{
             width: 50%;
             height: 100%;
             display: flex;
             align-items: center;
      }
    }
  }
  .ms-dialog-footer {
    width: 100%;
    height: calc(600px - 468px - 51px);
    box-sizing: border-box;
    background-color: chartreuse;
  }
  .ms-field-requied{
         color: #ff0000;
  }
  .ms-row-text{
         width: 105px;
         height: 32px;
  }
}
