.ms-grid-container {
    height: calc(100% - 5.5rem);
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0.125rem;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
}

.ms-grid-content {
    height: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
}

.ms-th {
    height: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    border-left: 0.0313rem solid #bbbbbb;
    box-sizing: border-box;
}

.ms-grid-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-height: 2rem;
}

.ms-filter {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.ms-th-store-code {
    width: 10rem;
    flex-direction: column;
}

.ms-filter-input {
    width: calc(100% - 2.0625rem);
    height: 2rem;
}

.ms-input {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    padding: 0.3125rem 0.625rem;
    border: 0.0625rem solid #dfdfdf;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ms-input:focus {
    outline: 0;
    border: 0.0625rem solid #636dde;
}

.ms-input-code:focus {
    outline: 0;
    border: 0.0625rem solid #636dde;
}


/**col store name */

.ms-th-store-name {
    width: 15.5625rem;
}

.ms-th-store-address {
    width: 60%;
}

.ms-th-store-phone {
    width: 8.4375rem;
}

.ms-th-store-status {
    width: 9.3125rem;
}

td {
    height: 1.9625rem;
    min-height: 1.9625rem;
    max-height: 1.9625rem;
    box-sizing: border-box;
    padding-left: 0.625rem;
    border-left: 0.0069rem solid #dfdfdf;
    border-bottom: 0.0069rem solid #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 31.25rem;
    cursor: default;
}

tr {
    // border-bottom: 0.0625rem solid #dfdfdf !important;
    padding: 0.5rem;
    box-sizing: border-box;
    color: #404040;
    padding: 0.4375rem 0.625rem 0.375rem;
}

tr:hover {
    background-color: #eaeff4 !important;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    z-index: 9999;
}

//CSS dòng được chọn
.isSelected {
    background-color: #e2e4f1 !important;
}

//CSS navigate
.ms-navigate {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.3125rem;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.ms-btn-page-common {
    width: 1.4375rem;
    height: 1.4375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #b5b7ce;
    box-sizing: border-box;
    border-radius: 0.1875rem;
    margin: 0rem 0.0625rem;
}

.ms-first-page-icon {
    background-position: -41rem -9.75rem;
    width: 0.5rem;
    height: 0.5rem;
}

.ms-pre-page-icon {
    background-position: -44.25rem -9.75rem;
    width: 0.3125rem;
    height: 0.5rem;
}

.ms-page-text {
    padding: 0rem 0.25rem;
}

.ms-input-page {
    width: 3rem;
    height: 1.5rem;
    border: 0.0625rem solid #bbbbbb;
    box-sizing: border-box;
    border-radius: 0.1875rem;
}

.ms-input-page input {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0.25rem 0.375rem;
    text-align: center;
}

.ms-input-page input:hover {
    outline: 0;
    border: 0;
}

.ms-next-page-icon {
    background-position: -47.375rem -9.75rem;
    width: 0.3125rem;
    height: 0.5rem;
}

.ms-last-page-icon {
    background-position: -50.375rem -9.75rem;
    width: 0.5rem;
    height: 0.5rem;
}

.ms-reload-icon {
    background-position: -53.4375rem -8rem;
    width: 0.625rem;
    height: 0.875rem;
}

.boder-blue {
    border: 0.0625rem solid #636dde;
    margin: 0rem 0.0625rem;
}

.ms-select-pagesize {
    border: 0.0625rem solid #bbbbbb;
    height: 1.5rem;
    border-radius: 0.1875rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0.0625rem;
}

.ms-select-pagesize select {
    outline: 0;
    border: 0;
    padding-left: 0.25rem;
}

.vue-columns-resizable {
    z-index: 999999999;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 999999 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading-icon {
    width: 6.25rem;
    height: 2.5rem;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: calc(50% - 3.125rem);
    z-index: 77777777;
}

.ms-btn-page-common:hover {
    border: 0.0625rem solid #636dde;
    cursor: pointer;
}

.gif-loading {
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: calc(50% - 3.125rem);
    z-index: 77777777777;
    background-image: url("../../assets/icon/Spinner-1s-200px.gif");
    background-position: center;
    background-size: contain;
}

.ms-paging-detail {
    position: absolute;
    right: 0.625rem;
}

.ms-filter {
    .ms-combobox {
        width: 140px;
        height: 2rem;
        margin-left: 1px;
    }
    .combobox-container {
        width: 100%;
        height: 1.9375rem;
        background-color: #ffffff;
        border-radius: 0;
        box-sizing: border-box;
        border: 1px solid #dfdfdf;
        .ms-input-cbb {
            width: 120px;
            height: 1.8125rem;
            padding: 0.3125rem;
            box-sizing: border-box;
            position: absolute;
            left: 0;
        }
        .dropdow-button {
            width: 1.25rem;
            height: 1.875rem;
            .dropdown-icon {
                position: absolute;
                width: 0.625rem;
                height: 0.625rem;
                top: 0.8125rem;
                right: 0.625rem;
            }
        }
        .select {
            border: 0;
            border-radius: 3px;
            font-family: 'roboto';
            font-weight: 400;
            margin-top: 30px;
        }
    }
}